.categoriesContainer {
  height: 70vh;
}

.characterImage {
  width: 200px;
  border-radius: 50px;
}

.characterDetailImg {
  width: 300px;
  border-radius: 50px;

}

.charactersContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;

}

.characterDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 100vw;
  margin-bottom: 100px;

}

.characterData {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.characterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 200px;

}
.propertyContainer {
  display: flex;
  height: 30px;
  flex-direction: row; /* Por defecto, pero lo incluimos para mayor claridad */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.propertyParagraph, .dataParagraph {
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 5px; /* Añade un relleno alrededor del texto */
}

.propertyParagraph {
  font-weight: bold; /* Pone en negrita el texto */
}


.pageTitle {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pageSubtitle {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.category {
  background-color: #3f3a3a;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
  width: 200px;
  height: 100px;
  font-size: 20px;
}

.unknownLocation {
  line-height: 2.15; /* Pone el link button a la altura de la property */

}


.category:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  
}



.navCategories {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 200px;
  margin-right: 50px;
}

#navTitle {
  margin-left: 20px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

footer > a {
  margin-left: 20px;
  color: white;
}

nav {
  background-color: #333;
}

.paginationContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: center;
}


.linkButton {
  background: none;
  color: blue;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  line-height: 2; /* Pone el link button a la altura de la property */
}

.linkButton:hover {
  color: darkblue;
}

.episodesContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}

.locationsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 100px;
}

.noPointsUl {
  list-style-type: none;
}

.episodeButton, .characterName {
  padding: 0px;
}


.episodeButton, .characterName, .locationButton {
  background-color: #3f3a3a;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
}

.locationButton {
  padding: 20px;
}


.episodeButton:hover, .characterName:hover, .locationButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  
}

.pageNumber {
  width: 50px;
}

#myForm {
  margin-bottom: 100px;
}
